$component-name: header;

.#{$component-name} {
  // --header-bg: #{$header-bg};
  --header-color: #{$header-color};
  --header-top-color: #{$header-top-color};

  a:not(.dropdown-item):not(.btn) {
    color: var(--header-color);

    &:hover {
      &,
      i {
        color: var(--bs-primary);
      }
    }
  }
}

