$component-name: header-top;

.header-nav {
  background: $header-nav-bg;
}

.transitiOn {
  transition: all 0.5s;
}

.#{$component-name} {
  background: transparentize($header-nav-bg, 0.8);
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 100;
  backdrop-filter: blur(10px);

  a {
    color: var(--header-top-color);
  }

  &__right {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  &__right,
  &__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .form-select {
    padding-right: 1.5rem;
    background-color: var(--header-top-bg);
    background-position: right 0.12rem center;
    border: none;

    option {
      text-align: right;
    }
  }

  &-desktop {
    padding: 0.25rem 0;
  }

  @include media-breakpoint-down(sm) {
    .container {
      padding: 0;
    }
  }
}

#contact-link {
padding-left: 0.5rem;
  a {
    height: 30px;
    display: flex;
    align-items: center;
  }
  .wha-logo {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-image: url(https://esferos.com/imagenes/logos/wha.svg);
  }
}